.barra-nav{
  background-color: #ff9c0e;
  height: 70%;
}

a{
  text-decoration: none;
  text-decoration-color: black;
  padding-top: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1.5%;
  font-size: 25px;
}

a:hover{
  background-color: #ffbd00;
}

#contenedor-about{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

#contact{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.nav{
  display: flex;
  justify-content: space-around;
}

h1{
  margin-left: 10%;
}

img{
  width: 300px;
}

.galeria{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  display: inline-block;
  justify-content: space-between;
}

.autos{
  margin: 2%;
}

.autos:hover{
  opacity: 50%;
}
