body{
  background-color: #DAF7DC;
}

.barra-nav{
  background-image: linear-gradient(#FFBC42, #ff9700);
  height: 70%;
}

a{
  text-decoration: none;
  text-decoration-color: black;
  padding-top: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1.5%;
  font-size: 25px;
}

a:hover{
  background-color: #ffbd00;
}

#footer{
  padding: 1%;
  background-image: linear-gradient(#FFBC42, #ff9700);
  text-align: center;
}

#contenedor-about{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

#contact{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.nav{
  display: flex;
  justify-content: space-around;
}

h1{
  margin-left: 10%;
}

img{
  width: 300px;
}

.galeria{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  padding: 2%;
  display: inline-block;
  justify-content: space-between;
  background-color: #A3D9FF;
}

.autos{
  margin: 2%;
}

.autos:hover{
  opacity: 50%;
}
